
	
$body-color: rgb(101, 101, 101);

* {
    margin: 0;
    padding: 0;
}

html, body {
	// height: auto;
	// width: auto;
    overflow: hidden;
}

body {
    color:rgb(150, 10, 87);
    background-color: $body-color;
    line-height: 1.5;
    
}
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}